
weight.txt
seattle.txt
mirror_mouses.txt
foodmart.sales.tsv
foodmart.products.tsv
fertility.txt
beauty.csv
ADHD.txt
.ipynb_checkpoints/Tests_single_population-checkpoint.ipynb
.ipynb_checkpoints/z_test-checkpoint.ipynb
